<ion-content class="register-page">

  <div class="register-container">

    <div class="brand-section">
      <h1>ImuniKids</h1>
      <p>Crie sua conta para acompanhar a vacinação infantil</p>
    </div>

    <ion-card class="register-card">

      <ion-card-header>
        <ion-card-title>Criar Conta</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-input
            label="Nome Completo"
            labelPlacement="floating">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="CPF"
            labelPlacement="floating">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="E-mail"
            labelPlacement="floating"
            type="email">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Senha"
            labelPlacement="floating"
            type="password">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Confirmar Senha"
            labelPlacement="floating"
            type="password">
          </ion-input>
        </ion-item>

        <ion-button
          expand="block"
          class="register-btn"
          (click)="createAccount()">
          Criar Conta
        </ion-button>

        <div class="login-link">
          Já possui conta?
          <a (click)="goToLogin()">Entrar</a>
        </div>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>