.hero {
  text-align: center;
  padding: 24px;
}

.hero h1 {
  color: #473C33;
  font-size: 2rem;
  font-weight: bold;
}

.hero p {
  color: #666;
}

ion-card {
  margin: 16px;
  border-radius: 20px;
}

ion-progress-bar {
  margin-top: 12px;
  margin-bottom: 12px;

  --progress-background: #e0e0e0;
  --background: #ABC270;
}

.success {
  margin-top: 12px;
  font-weight: bold;
  color: #ABC270;
}